.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  max-width:100%;
}

.center-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}